/* 
    smalltheme.css
    Ben Fisher
*/

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

body {
    background-color: rgb(255, 255, 255);
    border-top-color: rgb(0, 0, 0);
    border-top-style: solid;
    border-top-width: 5px;
    box-sizing: border-box;
    display: block;
    text-size-adjust: 100%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 34px;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0;
}

.smalltheme-uppernavbox {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 30px;
    padding: 12px 5px 8px 17px;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-size: 0.775rem;
    line-height: 1.7142857143;
    font-family: 'source-sans-pro', sans-serif;
    color: #222;
}

.smalltheme-textwithinbox {
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 0;
    padding: 6px 7px 6px 7px;
    box-sizing: border-box;
    text-transform: uppercase;
    border: 1px solid black;
}

.smalltheme-uppernavbox a:hover {
    background-color: rgb(26, 26, 26);
    border-color: rgb(66, 66, 66);
    color: #fff;
}

.smalltheme-uppernavbox a:visited {
    color: #fff;
}
.smalltheme-uppernavbox a:link {
    color: #fff;
}
.smalltheme-uppernavbox a:active {
    background-color: rgb(26, 26, 26);
    border-color: rgb(66, 66, 66);
    color: #fff;
}

div.commentpost {
}

div.commentauthor {
    font-weight: bold;
}

div.commentcontent {
}

.linktilebutton {
    /* Text color */
    color: #0099cc;
    /* Remove background color */
    background: transparent;
    /* Border thickness, line style, and color */
    border: 2px solid #0099cc;
    /* Adds curve to border corners */
    border-radius: 6px;
    /* Make letters uppercase */
    color: white;
    padding: 10px 17px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    /* -webkit-transition-duration: 0.3s;  Safari 
      transition-duration: 0.3s; */
    cursor: pointer;
    text-decoration: none;
}
.linktilebutton_wide {
    /* width:224px; */
    width: 185px;
}

.linktilebutton_med {
    width: 100px;
}

.linktilebutton_narrow {
    width: 50px;
}

.linktilebutton {
    background-color: white;
    color: black;
    border: 2px solid #000202;
}
/*button on hover*/
.linktilebutton:hover {
    background-color: #000202;
    color: white;
}
.linktilebutton:active {
    background-color: #000202;
    color: white;
}
.linktilebuttonicon {
    margin-bottom: 0.2em;
}
/* https://medium.freecodecamp.org/a-quick-guide-to-styling-buttons-using-css-f64d4f96337f */
.linktilebuttonhspace {
    margin: 0px;
    padding: 0px;
}

/* "DESKTOP" version, icons are full size */
.linktilebuttonicon_home {
    width: 32px;
    height: 64px;
}
.linktilebuttonicon_nothome {
    width: 64px;
    height: 64px;
}

/* "MOBILE" version, icons are smaller, and hide some icons */
@media only screen and (max-width: 600px) {
    .linktilebuttonicon_home {
        width: 16px;
        height: 32px;
    }
    .linktilebuttonicon_nothome {
        width: 32px;
        height: 32px;
    }
    .linktilebutton_left {
        display: none;
    }
    .linktilebutton_middle {
        display: none;
    }
}
@media only screen and (max-height: 400px) {
    .linktilebuttonicon_home {
        width: 16px;
        height: 32px;
    }
    .linktilebuttonicon_nothome {
        width: 32px;
        height: 32px;
    }
    .linktilebutton_left {
        display: none;
    }
    .linktilebutton_middle {
        display: none;
    }
}
