

body {
        font-size: 15px;
font-family: "Lucida Grande",Tahoma,Arial;
line-height: 1.5em;
    background: #ffffff;
    
     color:black
}

     /*font-family: Garamond, Baskerville, 'Baskerville Old Face', 
     'Hoefler Text', 'Times New Roman';
*/
