
canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X, Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Future browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                */
    margin:0px;
    border:0px solid black;
    padding:0px;
}

.messageBelow {color: white; font-family:sans-serif; font-size:60%; margin-left:90px; margin-top:200px }
body { 
    position: fixed; /* we never want a scrollbar on this page */
    background-color: rgb(0,0,0); 
}

.notvisible { display:none }

#idOpeningMsg {
    position:fixed; top:0px; left:0px; z-index: -999;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


